* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Archivo', sans-serif;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    background-color:rgba(47, 53, 46, 0.767);
    justify-content: space-around;
    /* position: fixed; */
    /* padding: 20px 0; */
    position: fixed;
    top: 0;
    width: 100%;
    color: #CCEFAB;
    height: 50px;
    align-items: center;
    z-index: 2;
}

nav .logo {
    font-family: 'Archivo Black', sans-serif;
    width: 50%;

}

nav ul {
    display: flex;
    list-style: none;
    width: 25%;
    justify-content: space-between;
}

nav ul li a {
    color: #CCEFAB;
    text-decoration: none;
    font-size: 0.8em;
}


/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #CCEFAB;
    border-radius: 3px;
    transition: 0.4s;
}




/*banner*/
.banner {
    padding: 180px 0 190px 0;
    background-image: url(../img/header.jpg);
    background-size: cover;
    color: rgb(19, 20, 19);
    opacity: 0.8;
    text-align: center;
}

.banner-content {
    width: auto;
    margin: 0 auto;
}

.banner-content h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.banner-content p {
    padding-top: 3%;
    width: 75%;
    line-height: 30px;
    margin: 0 auto;
}


/* Button */
.btn-wrapper {
    margin: 20px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.btn-wrapper a {
    text-decoration: none;
}

.success {
    background-color: #239b76;
    box-shadow: slategrey;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

/* Introduction */
.introduction {
    width: 80%;
    margin: 60px auto 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.introduction-image {
    flex: flex;
    width: 45%;
    padding: 15px;
}

.introduction-content {
    flex: flex;
    width: 55%;
    padding: 15px;
}

.introduction-content > h2 {
    margin-bottom: 15px;
}

.introduction-content > p {
    text-align: justify;
    line-height: 25px;
    color: #4D5768;
}

.introduction-img {
    box-shadow: 10px 10px 15px #9e9e9e;
    transition: 0.5s;
    width: 100%;
    object-fit: cover;
}
